body{
    background: url("../images/pipes/pipes.png");
    font-family: 'Arial', 'Helvetica New', Helvetica, sans-serif;
    margin: 0px;
    color: #777777;
}
/*___________________________________________________________________________________*/
/* header and nav bar (same for each page) */
/*___________________________________________________________________________________*/
header{
    background: #ffffff;
    height: 100px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    width: 100%;
    display: inline-block;
    border-bottom: solid #cccccc 2px;
}
/* box with name on top left */
#header{
    width: 85%;
    margin: auto;
}

#name{
    background: #4aaaa5;
    font-size: 2em;
    padding: 32px;
    float: left;
    text-align: center;
}
/* nav bar */
#links{
    float: right;
    right: 100px;
    bottom: 0%;
}

li{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav{ 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #cccccc;
    font-size: 16px;
}
/*___________________________________________________________________________________*/
/* footer (same for each page)*/
/*___________________________________________________________________________________*/

footer {
    background: #666666;
    width: 100%;
    text-align: center;
    border-top: solid;
    padding: 20px;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    border-top: solid 3px #4aaaa5;
}
/*___________________________________________________________________________________*/
/* -------------- ABOUT ME PAGE!!!! -------------- */
/*___________________________________________________________________________________*/

/* main box containing all info 
        this same box is used for the portfolio page as well */
#main{
    width: 960px;
    margin: auto;
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border: solid #dddddd 1px;
}
/* text on top left */
#about{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 30px;
}
/* dividing line 
------------------is there a way to add a line other 
than adding a small div? ----------------*/
#line {
    background: #777777;
    width: 90%;
    height: 2px;
    opacity: 0.5;
    margin: 20px;
}
/* below is code for the text and img in the about me
box */
#full{
    display: inline-block;
}

img {
    display: block;
    height: 20%;
    width: 20%;
    float: left;
    margin: 10px 10px 10px 10px;
}

#par {
    padding: 10px;
}
/*___________________________________________________________________________________*/
/*-------------- PORTFOLIO PAGE -----------------*/
/*___________________________________________________________________________________*/

.port{
    color: #ffffff;
}
#pic1, #pic2, #pic3, #pic4, #pic5{
    background: url("https://picsum.photos/200/200");
    height: 200px;
    width: 200px;
    float: left;
    margin: 10px;
}

#skills{
 height: 460px;
}

#cap1{
    background: #4aaaa5;
    text-align: center;
    padding: 10px;
    margin-top: 143px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
/*___________________________________________________________________________________*/
/*----------------CONTACT PAGE!-----------------*/
/*___________________________________________________________________________________*/

#contactForm{
    background: #ffffff;
    width: 960px;
    margin: auto;
    padding: 10px;
    border: solid #dddddd 1px;
}

/*___________________________________________________________________________________*/
/*-------------------LETS GET RESPONSIVE------------------*/
/*___________________________________________________________________________________*/

/* normal desktop size. set max to 960 to make sure nothing gets cut off*/
@media only screen and (max-width: 980px){
#main{
    margin-top: 50px; 
    margin-left: 50px;
    width: 66%;
}
#skills{
    height: 700px;
}
}
/* medium sized screens like ipads */
@media only screen and (max-width: 768px){
#main{
    width: 90%;
    margin: auto;
}
}
/* smaller screens like phones */
@media only screen and (max-width: 640px){
#header{
    width: 100%;
}
#name{
    padding: 10px;
    margin-top: 0px;
    float: none;
}
#links{
    float: none;
    align-self: center;
}
ul{
    width: fit-content;
    margin: 10px auto;
    padding: 0;
}
#skills{
    height: 1100px;
}
}

/*___________________________________________________________________________________*/
/* idk i was told to put the clearfix after everything so here we are */

.clearfix::after {
    overflow: auto;
    content: "";
    clear: both;
    display: table;
}